.terminal-div {
    height: 418px;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }
  
  .terminal-instructions {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 7px;
  }
  
  .instruction {
    width: 100%;
    height: 12.5%;
    display: flex;
  }
  
  .instruction-num {
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 7%;
    color: #9a99ff;
  }
  
  .instruction-title {
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 15%;
    color: white;
  }
  
  .instruction-description {
    display: flex;
    align-items: center;
    color: #e6db74;
    text-align: left;
    flex-grow: 1;
  }
  
  .terminal {
    height: 100%;
    width: 60%;
    border-left: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    flex-direction: column;
  }
  
  .terminal-head{
    background-color: rgba(255, 255, 255, 0.5);
    height: 7%;
    color: black;
    border-radius: 8px 8px 0 0;
  }
  
  .terminal-body{
    text-align: start;
    color: #9a99ff;
    background-color: rgb(0, 0, 0, 0.2);
    flex-grow: 1;
    padding-left: 4px;
  }
  